{% extends 'base.html' %}
{%block title%} Customer registeration {%endblock%}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>customer registeration form </h3>
            <form action="" method="post">


                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info"> Register As a Customer </button>
            </form>
            <p> Already have account<a href="{% url 'ecomapp:customerlogin'%}"> Login </a></p>
        </div>

    </div>
</div>
{% endblock %}